@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <form method="get">
        <div class="col-md-6">
            <div class="row no-gutters border mb-4">
                <h3>Elija lugar de retiro</h3>
                <div class="col p-4 mb-4 ">
                    
                    <label asp-for="ProvinciaID" class="control-label">Elija Provincia</label>
                    <select asp-for="ProvinciaID" class="form-control" onchange="this.form.submit()">
                        <option value="">Seleccione una Provincia </option>
                        @foreach(var provincia in Model.Provincias)
                        {
                            <option value="@provincia.ID"> @provincia.Denominacion </option>
                        }
                    </select>
                    
                </div>
                <div class="col p-4 mb-4 ">
                    <label asp-for="LocalidadID" class="control-label">Elija Localidad</label>
                    <select asp-for="LocalidadID" class="form-control">
                        <option value="">Elija Localidad</option>
                    @if (Model.Localidades != null)
                    {
                        @foreach (var localidad in Model.Localidades)
                        {
                            <option value="@localidad.ID">@localidad.Denominacion </option>
                        }
                    }
                </select>
                </div>
            </div>
            <div class="row no-gutters border mb-6">
                <div class="col p-4 mb-4 ">
                    <input type="submit" class="form-control" />
                </div>
            </div>
        </div>
    </form>
</div>
<form asp-page="./mediodepago" method="get">
@if(Model.Autos is not null)
{
<h3>Autos Disponible</h3>

<table class="table">
    <tr>
        <th>Nombre</th> 
        <th>Tanque</th>
        <th>Equip. chico</th>
        <th>Equip. Grande</th>
        <th>Pasajeros</th>
    </tr>
@foreach (var item in Model.Autos)
{
    <tr>
        <td>
            @item.Modelo.Denominacion
            @item.Modelo.AireAcondicionado
        </td>
        <td>
            @item.CapacidadTanque
        </td>
        <td>
            @item.Modelo.CantEquipajeChico
        </td>
        <td>
            @item.Modelo.CantEquipajeGrande
        </td>
        <td>
                @item.Modelo.CantPasajeros
        </td>
        <td>
            <input type="submit" value="Elegir Auto" class="btn btn-primary" />
        </td>
    </tr>
}
</table>
}
    </form>