@page
@model AlquileresAutos.Pages.Autos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Auto[0].Patente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auto[0].CapacidadTanque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auto[0].Kilometraje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auto[0].FechaCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auto[0].Detalle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Auto) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadTanque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kilometraje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
