@page
@model AlquileresAutos.Pages.Modelos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modelo[0].cantEquipajeChico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo[0].cantEquipajeGrande)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo[0].cantPasajeros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo[0].precioPorDia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo[0].denominacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo[0].transmision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo[0].aireAcondicionado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Modelo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cantEquipajeChico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantEquipajeGrande)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantPasajeros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precioPorDia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.denominacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.transmision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aireAcondicionado)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
